<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="opacity: 0.75;">
  <a class="navbar-brand" routerLink="" style="margin-left: 15px; font-size: 40px;">Acme</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/vehiculo" style="font-size: 18px;">Vehículos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/propietario" style="font-size: 18px;">Propietarios</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/conductor" style="font-size: 18px;">Conductores</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
</header>